@using BulgarianWines.Data.Models.Enums
@model PaymentViewModel

@if (Model.PaymentType == PaymentType.Stripe)
{
    @*<div class="col-md-7">
            <button id="orderButton" class="ord-btn">
                Pay With Stripe
            </button>
        </div>*@
    <div class="container">
        <div class="buttons">
            <div class="pull-right">
                <button id="orderButton" class="btn btn-primary">
                    Pay With Stripe
                </button>
            </div>
        </div>
    </div>
    <br />
    <form method="post" id="antiForgeryForm"></form>
}
