@model BulgarianWines.Web.ViewModels.ShoppingCartAndFavorites.ShoppingCartAndFavoritesViewModel

<div class="header-cart">
    <div id="cart" class="btn-group btn-block">
        <!--<span class="cart-icon"></span>-->
        <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="btn btn-inverse btn-block btn-lg dropdown-toggle">
            <!-- <span class="heading-title">from the Blogs</span>-->
            <span id="cart-total">
                @Model.ShoppingCartProductsCount
            </span>
            <span id="cart-title">
                your bag
                <i class="fa fa-angle-down"></i>
            </span>
        </button>

        <ul class="dropdown-menu pull-right cart-menu">
            <li>
                <p class="text-center">
                    @if (@Model.ShoppingCartProductsCount > 0)
                    {
                        <a asp-controller="ShoppingCart" asp-action="Index">
                            You have @Model.ShoppingCartProductsCount @(Model.ShoppingCartProductsCount> 1 ? "items" : "item")
                        </a>
                    }
                    else
                    {
                        <span>
                            Your shopping cart is empty!
                        </span>
                    }
                </p>
            </li>
        </ul>
    </div>
</div>
