@using Microsoft.AspNetCore.WebUtilities;
@{
    int statusCode = (int)this.ViewData["StatusCode"];
    this.ViewData["Title"] = statusCode;
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
</head>

<div class="container-fluid">
    <div class="text-center">
        <div class="error mx-auto" data-text="@statusCode">
            @statusCode
        </div>
        <p class="lead text-gray-800 mb-5">
            @ReasonPhrases.GetReasonPhrase(statusCode)
        </p>
        <p class="text-gray-500 mb-0">
            The page doesn't exist...
        </p>
        <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index">
            &larr; Back to Dashboard
        </a>
    </div>
</div>
