@model BulgarianWines.Web.ViewModels.Administration.HomePageSlides.EditSlideViewModel
@{
    ViewData["Title"] = "Edit Slide";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
</head>

<div class="shadow card">
    <div class="card-header h3 text-center">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <form asp-area="Administration" asp-controller="HomePageSlides" asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <table class="table align-middle table-striped table-hover table-bordered" style="margin-left: 100px;">
                <thead>
                    <tr>
                        <th>
                            Image
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var image in Model.SlideImages)
                    {
                        <tr>
                            <td style="width: 50%; height: 50%; text-align: center; vertical-align: auto">
                                <img src="@image.ImageUrl" style="max-height: 100%; max-width: 100%" alt="@image.ImageUrl" />
                            </td>
                            <td>
                                <div>
                                    <a asp-controller="HomePageSlides" asp-action="DeleteImage" asp-route-id="@image.Id" class="btn btn-danger btn-sm">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control edit-with-tinymce" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group  col-md-6">
                    <label asp-for="LinkUrl" class="control-label"></label>
                    <input asp-for="LinkUrl" class="form-control" />
                    <span asp-validation-for="LinkUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UploadedImages" class="control-label"></label>
                    <input asp-for="UploadedImages" class="form-control" />
                    <span asp-validation-for="UploadedImages" class="text-danger"></span>
                </div>
            </div>
            <input asp-for="Id" hidden />
            <div class="form-group text-center">
                <button type="submit" value="" class="btn btn-primary">
                    Edit
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/lib/tinymce/tinymce.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea.edit-with-tinymce",
            relative_urls: false,
            remove_script_host: false,
            convert_urls: true,
            plugins: [
                "image paste table link code media fullscreen wordcount searchreplace lists"
            ],
            toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent"
        });</script>
}