@model BulgarianWines.Web.ViewModels.Wines.CreateWineInputModel
@{
    this.ViewData["Title"] = "Add new Wine";
    var categoryItems = this.Model
        .CategoriesItems
        .Select(x =>
            new SelectListItem(x.Value, x.Key));
    var volumeItems = this.Model
        .VolumesItems
        .Select(x =>
            new SelectListItem(x.Value, x.Key));
    var harvestItems = this.Model
        .HarvestsItems
        .Select(x =>
            new SelectListItem(x.Value, x.Key));
    var varietyItems = this.Model
        .VarietyItems
        .Select(x =>
            new SelectListItem(x.Value, x.Key));
    var originItems = this.Model
        .OriginsItems
        .Select(x =>
            new SelectListItem(x.Value, x.Key));
}
<h1>
    @this.ViewData["Title"]
</h1>

<form method="post" asp-area="Administration" asp-controller="Wines" asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HarvestId"></label>
        <select asp-for="HarvestId" class="form-control" asp-items="harvestItems"></select>
        <span asp-validation-for="HarvestId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OriginId"></label>
        <select asp-for="OriginId" class="form-control" asp-items="originItems"></select>
        <span asp-validation-for="OriginId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VolumeId"></label>
        <select asp-for="VolumeId" class="form-control" asp-items="volumeItems"></select>
        <span asp-validation-for="VolumeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VarietyId"></label>
        <select asp-for="VarietyId" class="form-control" asp-items="varietyItems"></select>
        <span asp-validation-for="VarietyId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="categoryItems"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UploadedImages" class="control-label"></label>
        <input asp-for="UploadedImages" class="col-md-2" />
        <span asp-validation-for="UploadedImages" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>