@model BulgarianWines.Web.ViewModels.Administration.Wines.CreateWineInputModel

@{
    var categoryItems = this.Model
        .CategoriesItems
        .Select(x =>
            new SelectListItem(x.Value, x.Key));
    var volumeItems = this.Model
.VolumesItems
.Select(x =>
    new SelectListItem(x.Value, x.Key));
    var harvestItems = this.Model
        .HarvestsItems
        .Select(x =>
            new SelectListItem(x.Value, x.Key));
    var varietyItems = this.Model
        .VarietyItems
        .Select(x =>
            new SelectListItem(x.Value, x.Key));
    var originItems = this.Model
        .OriginsItems
        .Select(x =>
            new SelectListItem(x.Value, x.Key));
    var availabilityItems = this.Model
        .AvailabilityItems
        .Select(x =>
            new SelectListItem(x.Value, x.Key));
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
</head>

<div>
    <a asp-action="Index">
        Back to List
    </a>
</div>

@{ this.ViewData["Title"] = "Create Wine"; }
<div class="shadow card">
    <div class="card-header h3 text-center">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <form asp-area="Administration" asp-controller="Wines" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control edit-with-tinymce" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="OriginId" class="control-label"></label>
                    <select asp-for="OriginId" class="form-control" asp-items="originItems"></select>
                    <span asp-validation-for="OriginId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="VarietyId" class="control-label"></label>
                    <select asp-for="VarietyId" class="form-control" asp-items="varietyItems"></select>
                    <span asp-validation-for="VarietyId"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="categoryItems"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="VolumeId" class="control-label"></label>
                    <select asp-for="VolumeId" class="form-control" asp-items="volumeItems"></select>
                    <span asp-validation-for="VolumeId"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="HarvestId" class="control-label"></label>
                    <select asp-for="HarvestId" class="form-control" asp-items="harvestItems"></select>
                    <span asp-validation-for="HarvestId"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="AvailabilityId" class="control-label"></label>
                    <select asp-for="AvailabilityId" class="form-control" asp-items="availabilityItems"></select>
                    <span asp-validation-for="AvailabilityId"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="UploadedImages" class="control-label"></label>
                    <input asp-for="UploadedImages" class="col-md-2" />
                    <span asp-validation-for="UploadedImages" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-group text-center">
                <button type="submit" value="" class="btn btn-primary">
                    Create Product
                </button>
            </div>
        </form>
    </div>
</div>

@section Styles{
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    <link href="~/css/fontawesome-iconpicker.min.css" rel="stylesheet" asp-append-version="true" />
    <style>
        .fade:not(.show) {
            opacity: unset;
        }
    </style>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/tinymce/tinymce.min.js" asp-append-version="true"></script>
    <script src="~/js/fontawesome-iconpicker.min.js" asp-append-version="true"></script>

    <script type="text/javascript">
        tinymce.init({
            forced_root_block: false,
            selector: "textarea.edit-with-tinymce",
            relative_urls: false,
            remove_script_host: false,
            convert_urls: true,
            plugins: [
                "image paste table link code media fullscreen wordcount searchreplace lists"
            ],
            toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent"
        });
    </script>

    <script>
        (function () {
            $('.icp-auto').iconpicker();
        })()
    </script>
}
