@if (this.TempData.ContainsKey("Alert"))
{
    <div class="container">
        <div class="alert alert-info alert-dismissible show" role="alert">
            <strong>
                @this.TempData["Alert"]
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>
        </div>
    </div>
}
else if (this.TempData.ContainsKey("Error"))
{
    <div class="container">
        <div class="alert alert-danger alert-dismissible show" role="alert">
            <strong>
                @this.TempData["Error"]
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>
        </div>
    </div>
}

