@model BulgarianWines.Web.ViewModels.Index.IndexViewModel

<div class="dropdown-menu megamenu column1">
    <div class="dropdown-inner">
        <ul class="list-unstyled childs_1">
            @foreach (var product in Model.NewestProducts)
            {
                <li>
                    <a asp-controller="Wines" asp-action="SingleWine" asp-route-id="@product.Id">
                        @product.Name
                    </a>
                </li>
            }

        </ul>
    </div>
</div>
