@model BulgarianWines.Web.ViewModels.Wines.WineRatingViewModel

<ul class="list-unstyled list-inline">
    @for (int i = 1; i <= 5; i++)
    {
        if (i <= Model.AverageRatingRounded)
        {
            <li class="list-inline-item">
                <i class="fa fa-star"></i>
            </li>
        }
        else
        {
            var difference = i - Model.AverageRatingRounded;
            if (difference != 0 && difference < 1)
            {
                <li class="list-inline-item">
                    <i class="fa fa-star-half-alt"></i>
                </li>
            }
            else
            {
                <li class="list-inline-item">
                    <i class="fa fa-star-o"></i>
                </li>
            }
        }
    }
    @if (Model.ShowAverageRating)
    {
        <li class="list-inline-item">
            <a href="#">
                ( @Model.AverageRating.ToString("F") )
            </a>
        </li>

    }
</ul>
