@model IEnumerable<BulgarianWines.Web.ViewModels.Administration.Varieties.DeletedVarietyViewModel>

@{
    ViewData["Title"] = "Deleted Varieties";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
</head>

<div class="table-responsive">
    <table class="table align-middle table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Deleted On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr class="row">
                    <td class="col-12 d-flex justify-content-center">
                        <strong>
                            No deleted varieties
                        </strong>
                    </td>
                </tr>
            }
            @foreach (var item in this.Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.DeletedOn
                    </td>
                    <td>
                        <a asp-controller="Varieties" asp-action="Restore" asp-route-id="@item.Id" class="btn btn-warning">
                            Restore
                        </a>
                </tr>
            }
        </tbody>
    </table>
</div>
