@{
    this.ViewData["Title"] = "Privacy Policy";
}
<h1>@this.ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div id="main-menu" class="main-menu">

    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            Dropdown <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="">
                    Action 1
                </a>
            </li>
            <li>
                <a href="">
                    Action 2
                </a>
            </li>
            <li>
                <a href="">
                    Action 3
                </a>
            </li>
        </ul>
    </div>
</div>
