
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @{
        this.ViewData["Title"] = "Terms and Conditions";
    }
    <base />
    <script src="~/js/wined/jquery/jquery-2.1.1.min.js" asp-append-version="true"></script>
    <!-- <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" /> -->
    @*<script src="~/js/wined/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>*@
    <link href="~/js/wined/font-awesome/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

    <link href="~/css/wined/stylesheet.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/wined/themecss/lightbox.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/js/wined/jquery/magnific/magnific-popup.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/js/wined/jquery/owl-carousel/owl.carousel.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/js/wined/jquery/owl-carousel/owl.transitions.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/wined/themecss/carousel.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/wined/themecss/custom.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/wined/themecss/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/wined/themecss/animate.css" rel="stylesheet" asp-append-version="true" />



    <!--  -->

    <script src="catalog/view/javascript/lightbox/lightbox-2.6.min.js"></script>
    <script src="catalog/view/javascript/common.js"></script>
    <!-- Theme Start -->

    <script type="text/javascript" src="catalog/view/javascript/themejs/custom.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/themejs/jstree.min.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/themejs/carousel.min.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/themejs/productcarosel.min.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/themejs/jquery.custom.min.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/themejs/jquery.formalize.min.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/themejs/jquery.elevatezoom.min.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/themejs/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/themejs/owl.carousel.min.js"></script>
    <link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/magnific/magnific-popup.css" />
    <script src="catalog/view/javascript/themejs/tabs.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/jquery.countdown.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/jquery.countdown.min.js"></script>
    <!-- Theme End -->
    @*<script src="~/js/wined/common.js" asp-append-version="true"></script>*@
    <script src="~/js/wined/themejs/parallax.js" asp-append-version="true"></script>


</head>

<h1>
    @this.ViewData["Title"]
</h1>

<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="TermsAndConditions">
                    Terms and Conditions
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- ======= Quick view JS ========= -->
<script>
    function quickbox() {
        if ($(window).width() > 767) {
            $('.quickview').magnificPopup({
                type: 'iframe',
                delegate: 'a',
                preloader: true,
                tLoading: 'Loading image #%curr%...',
            });
        }
    }
    jQuery(document).ready(function () { quickbox(); });
    jQuery(window).resize(function () { quickbox(); });</script>

<div class="container">
    <div id="information-information" class="container">
        <div class="row">
            <div id="content" class="col-sm-12">
                <h2 class="page-title page-info-title">
                    Terms & Conditions
                </h2>

                <div class="aboutus-block">
                    <h3 class="page-subheading">
                        <strong>
                            Privacy Notice
                        </strong>
                    </h3>
                    <p>This privacy notice discloses the privacy practices for <a href="https://www.bulsing.com">https://www.bulsing.com</a>. This privacy notice applies solely to information collected by this website. It will notify you of the following:</p>
                    <ol type="1">
                        <li>What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.</li>
                        <li>What choices are available to you regarding the use of your data.</li>
                        <li>The security procedures in place to protect the misuse of your information.</li>
                        <li>How you can correct any inaccuracies in the information.</li>
                    </ol>
                    <p><strong>Information Collection, Use, and Sharing</strong> <br>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>
                    <p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.</p>
                    <p>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>
                    <p><strong>Your Access to and Control Over Information</strong> <br>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:</p>
                    <ul>
                        <li>See what data we have about you, if any.</li>
                        <li>Change/correct any data we have about you.</li>
                        <li>Have us delete any data we have about you.</li>
                        <li>Express any concern you have about our use of your data.</li>
                    </ul>
                    <p><strong>Security</strong> <br>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>
                    <p>Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.</p>
                    <p>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>
                    <p><strong>If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at <span style="text-decoration: underline;">XXX YYY-ZZZZ</span> or <span style="text-decoration: underline;">via email</span>.</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
