@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="container">
    <header>
        <div class="text-center">
            <h1 class="text-danger">
                @ViewData["Title"]
            </h1>
            <p class="text-danger">
                You do not have access to this resource.
            </p>
            <br/>
                <img src="https://bulgarianwines.blob.core.windows.net/publicimages/no-entry-traffic-sign.jpg"  style="height: 50%; width: 50%"/>
        </div>
    </header>
</div>
