@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="container">
    <h1>
        @ViewData["Title"]
    </h1>
    
    <br/>

    <h4>
        Thank you for confirming your email. Please <a asp-page="./Login">click here to log in</a>
    </h4>
</div>
