a {
    color: #0254EB
}

a:visited {
    color: #0254EB
}

a.morelink {
    text-decoration: none;
    outline: none;
}

.morecontent span {
    display: none;
}

.comment {
    width: 150px;
    margin: 1px;
}